:root {
	--background: #FAFAFA;
	--fg: rgba(0, 0, 0, 0.87);
	--backgroud-paper: #FFFFFF;
	--divider: rgba(0, 0, 0, 0.12);
	--appbar-bg: #212121;
	--appbar-fg: #FFFFFF;
	--viewer-bg: #FFFFFF;
	--viewer-fg: #000000;
	--viewer-font-size: 16px;
	--viewer-secondary-font-size: 14px;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/MaterialIcons/MaterialIcons-Regular.ttf);
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
}

* {
	box-sizing: border-box;

	margin: 0px;
	padding: 0px;

	font-family: 'Roboto';

	scrollbar-width: thin;

	user-select: none;
}

*:focus {
	outline: none;
}

html,
body {
	height: 100vh;
}

body {
	background-color: var(--background);
	color: var(--fg);

	font-size: 14px;
}

::-webkit-scrollbar {
	width: 8px;
	background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	border: 2px solid #FFFFFF;

	background-color: rgba(0, 0, 0, 0.24);
}

::-webkit-scrollbar-button {
	display: none;
}

#backdrop {
	visibility: hidden;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

button {
	border: none;

	cursor: pointer;

	font-size: 14px;
}

button.flat {
	background-color: transparent;
}

button.icon {
	border-radius: 100%;
}

button.theme {
	height: 24px;
	width: 24px;
	margin-left: 8px;

	border-radius: 100%;

	font-family: serif;
	font-size: var(--viewer-font-size);
}

.appbar {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;

	height: 48px;
	padding: 0px 8px;

	background-color: var(--appbar-bg);
	color: var(--appbar-fg);

	box-shadow: rgb(0 0 0 / 50%) 0px 0px 8px 1px;
}

.appbar button {
	padding: 8px;

	background-color: transparent;
	color: var(--appbar-fg);
}

.appbar button:hover {
	background-color: rgba(255, 255, 255, 0.08);
}

.appbar button:active,
.appbar button[toggled] {
	background-color: rgba(255, 255, 255, 0.16);
}

.menu {
	visibility: hidden;
	position: absolute;

	padding: 8px 0px;
	width: 12em;
	z-index: 100;

	border-radius: 4px;

	background-color: var(--backgroud-paper);

	box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, 
	rgb(0 0 0 / 14%) 0px 8px 10px 1px, 
	rgb(0 0 0 / 12%) 0px 3px 14px 2px;
}

.menu .header {
	display: flex;
	align-items: center;

	width: 100%;
	min-height: 32px;
	padding: 8px;
	margin-bottom: 8px;

	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: var(--divider);
}

.menu .header button {
	width: 32px;
	height: 32px;
	margin-right: 8px;
}

.menu .header button:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

.menu .header button:active {
	background-color: rgba(0, 0, 0, 0.16);
}

.menu .item {
	display: flex;
	align-items: center;

	padding: 6px 16px;
	min-height: 32px;

	cursor: pointer;
}

.menu .item>*:last-child {
	margin-left: auto;
}

.menu .item:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

.menu .item:active {
	background-color: rgba(0, 0, 0, 0.16);
}

#overflow-menu {
	right: 8px;
	top: 8px;
}

#themes-menu {
	right: 8px;
	top: 8px;

	padding: 0px 0px 8px 0px;
}

#drop-area {
	display: flex;
	
	height: calc(100% - 48px);

	align-items: center;
	justify-content: center;
}

#drop-box {
	display: flex;

	padding: 8px;
	width: 50%;
	height: 50%;

	border-style: dashed;
	border-radius: 8px;
	border-width: 8px;

	opacity: 0.2;

	align-items: center;
	justify-content: center;

	text-align: center;
}

#reader {
	display: none;
	grid-template-columns: 0px 1fr;

	height: calc(100% - 48px);
}

.navbar {
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;

	padding: 8px 0px;
	width: 256px;

	border-style: solid;
	border-width: 0px 1px 0px 0px;
	border-color: rgba(0, 0, 0, 0.12);

	background-color: var(--backgroud-paper);

	font-weight: 500;
}

.treeview .item {
	display: flex;
	align-items: center;

	padding: 4px 16px;

	cursor: pointer;

	white-space: nowrap;
}

.treeview .item:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.treeview .label {
	display: flex;
	align-items: center;
	min-height: 24px;
}

.treeview .items .item {
	padding-left: 32px;
}

.treeview .items .items .item {
	padding-left: 48px;
}

.treeview .arrow {
	margin-left: -8px;

	display: flex;
	align-items: center;
}

.treeview .arrow::after {
	content: "arrow_right";
}

.treeview .node[expanded] > .item .arrow::after {
	content: "arrow_drop_down";
}

.treeview .items {
	display: none;
	grid-column: 2;
}

.treeview .node[expanded] > .items {
	display: block;
}

#viewer-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: max-content 1fr max-content;
	overflow: hidden;

	background-color: var(--viewer-bg);

	font-size: var(--viewer-font-size);
}

.viewer-header,
.viewer-footer {
	display: flex;
	padding: 2em 0px;

	color: var(--secondary);

	font-family: serif;
	justify-content: center;
	align-items: center;
	font-size: var(--viewer-secondary-font-size);
}

.viewer-header {
	grid-row: 1;
}

.viewer-header:first-child {
	box-shadow: inset -1px 0px var(--viewer-divider);
}

.viewer-footer {
	grid-row: 3;

	box-shadow: inset -1px 0px var(--viewer-divider);
}

.viewer-footer:last-child {
	box-shadow: none;
}

.single .viewer-header,
.single .viewer-footer {
	box-shadow: none;
}

#viewer {
	grid-column: 1 / 3;

	display: flex;

	align-items: center;
}

#viewer::after {
	position: relative;
    width: 1px;
    height: 100%;
    left: -50%;

	background-color: var(--viewer-divider);

    content:  "";
}

.epub-container {
	align-items: center;
}

button#prev,
button#next {
	position: fixed;
	top: 50%;

	padding: 4px;
	margin: 0px 16px;

	background-color: rgba(0, 0, 0, 0.6);
	color: #FFFFFF;

	opacity: 0.0;
}

button#next {
	float: right;

	right: 0%;
}

#viewer-container:hover button {
	opacity: 0.5;
}

button#prev:hover,
button#next:hover {
	opacity: 1.0;
}

.single #viewer::after {
	width: 0px;
}
#page {
	display: flex;

	justify-content: center;
	align-items: center;
	font-weight: bold;
}